 .page-footer{
        
        margin-top: 100px;
        padding:11px 0px;
        border-top: 1px #E3E3E3 solid;
        background-color: rgb(235,236,243);
        text-align:center;
        
        .copyright{
            color: #A3A3A3;
            line-height: 35px;
        }
            
        .navigation{
            
            a {
                color: #000000;
                font-weight: 300;
            }
            
            li {
                padding: 20px;
            }
        } //navigation  
    } //footer-copyright  
